.extra-group {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 20px;
    .extra-item {
        display: flex;
        align-items: center;
        height: 29px;
        width: 29px;
        margin: 40px 0;
        .extra-item-btn {
            width: 100%;
            height: 100%;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .extra-item-icon-regex {
                margin: 0 auto;
                mask: url('../../../../../public/regex.svg') no-repeat center; 
                width: 24px; 
                height: 24px; 
                background-color: #000;
            }
            .extra-item-icon-swap {
                margin: 0 auto;
                mask: url('../../../../../public/swap_horiz.svg') no-repeat center; 
                width: 24px; 
                height: 24px; 
                background-color: #000;
            }
            &:disabled .extra-item-icon-regex, &:disabled .extra-item-icon-swap {
                background-color: #86838A;
            }
            &:disabled {
                cursor: default;
            }
        }
        
    }
    .value-item {
        margin-top: calc(40px + 29px);
        margin-bottom: 0;
    }
    .switch-regex {
        background-color: #a5d3ff;
        border-radius: 10px;
    }
}