<div class="multi-select">
  <select class="input-action-table source-select" #sourceSelect name="source-select" id="source-select" (change)="updateSelectedItems($event)" [disabled]="!isEdit">
    @for (item of sourceItems; track item; let i = $index) {
      <option [value]="i">{{ item }}</option>
    }
  </select>
  <div class="source-container" #sourceContainer (wheel)="onScroll($event)">
    @for (item of selectedSource; track item; let i = $index) {
      <div class="source-item" [ngClass]="{'disable-source-item': !isEdit}">
        <span>{{ item }}</span>
        <button (click)="deleteSourceItem(i)" [disabled]="!isEdit">
          <img src="close_small.svg" alt="">
        </button>
      </div>
    }
  </div>
</div>