<div class="multi-select">
    <select class="input-action-table source-select" #sourceSelect name="source-select" id="source-select" (change)="updateSelectedItems($event)" [disabled]="!isEdit">
        <option *ngFor="let item of sourceItems; let i = index" [value]="i">{{ item }}</option>
    </select>
    <div class="source-container" #sourceContainer (wheel)="onScroll($event)">
        <div class="source-item" *ngFor="let item of selectedSource; let i = index">
            <span>{{ item }}</span>
            <button (click)="deleteSourceItem(i)" [disabled]="!isEdit">
                <img src="close_small.svg" alt="">
            </button>
        </div>
    </div>
</div>