@import '../../../styles/variables.scss';

.progressbar {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        width: 30px;
        margin: 0 10px;
        text-decoration: none;
        .circle {
            padding: 5px 10px;
            width: fit-content;
            background-color: white;
            border-radius: 100px;
            border: solid lightgray 1px;
            color: #4EAAFF;
        }
        p {
            width: max-content;
            color: grey;
        }
    }
    .active-step {
        .circle {
            background-color: $primaryColor;
            color: white;
            border-color: $primaryColor;
        }
        p {
            color: $primaryColor;
        }
    }
    .active-separator {
        hr {
            border-top-color: $primaryColor !important;
        }
    }
    .done {
        .circle {
            background-color: #4EAAFF;
            color: white;
            border: 0;
            padding: 6px 11px;
        }
        color: cornflowerblue
    }
    .step-separator {
        display: flex;
        justify-content: end;
        margin-bottom: 20px;
        hr {
            border: none;
            border-top: 2px solid lightgray;
            width: 200px;
        }
    }
}

.form-separator {
    width: 100%;
}

:host ::ng-deep .decoy-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4rem;
    .left-form {
        width: 60%;
        .form-inputception {
            display: flex;
            flex-direction: row;
            border: 1px solid #767676;
            border-radius: 2px;
            width: 90%;
            .inner-input {
                border: none;
                &:focus {
                    outline: none;
                }
            }
            .inner-select {
                margin: 2px 2px 2px 0;
            }
            &:focus-within {
                outline: 1px solid black;
            }
        }
    }
    .right-container {
        .file-preview {
            margin-right: 2rem;
            height: 500px;
            background-color: #242424;
            color: white;
            padding: 20px;
            width: 340px;
            white-space: pre-wrap;
            word-wrap: break-word;
            font-family: monospace;
            font-size: 14px;
            overflow-y: scroll;
        }
        .next {
            margin-top: 2rem;
            margin-right: 2rem;
            height: 6rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: fit-content;
        }
        .fixed-right {
            justify-content: flex-end;
        }
    }
}