<table class="when-table">
    <thead>
        <tr>
            <th id="key">What to look into</th>
            <th id="value">With what value</th>
            <th id="in">In which element</th>
            <th id="type">When present</th>
            <th class="end-when"></th>
        </tr>
        <tr class="tr-separator"><td class="row-separator" colspan="5"><hr class="head-separator"/></td></tr>
    </thead>
    <tbody>
        <tr *ngFor="let when of whenArray; let i = index" class="input-row">
            <td><input class="input-table" type="text" [(ngModel)]="when.key" (input)="onItemChange()"/></td>
            <td><input class="input-table" type="text" [(ngModel)]="when.value" (input)="onItemChange()" /></td>
            <td>
                <select class="input-table" name="in" id="in" [(ngModel)]="when.in" (change)="onItemChange()">
                    <option value="cookie">cookie</option>
                    <option value="header">header</option>
                    <option value="url">url</option>
                    <option value="getParam">getParam</option>
                    <option value="postParam">postParam</option>
                    <option value="payload">payload</option>
                </select>
            </td>
            <td class="when-type"><input class="" type="checkbox" name="type" id="type" [(ngModel)]="when.type" (change)="onItemChange()"></td>
            <td class="end-when">
                <button (click)="onClickDeleteWhen(i)" class="when-delete-btn">
                    <img src="delete.svg" alt="delete">
                </button>
            </td>
       </tr>
       <tr>
        <td class="add-when" colspan="5">
            <button class="add-when-btn" (click)="onClickAddWhen()">
                <div class="add-when-icon"></div>
            </button>
        </td>
       </tr>
    </tbody>
</table>