@import '../../../styles/variables.scss';
$menu-icon-size: 2rem;

.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 22rem;
    background-color: aliceblue;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    .logo-container {
        display: flex;
        width: 100%;
        .name {
            font-size: 1.5rem;
            align-self: center;
            margin-left: 0.7rem;
        }
        .logo {
            height: 5rem;
            color: #000;
            margin-left: 0.5rem;
        }
    }
    .app-selector {
        background-color: #FFF;
        margin: 1rem;
        height: 2.5rem;
        border: 1px solid lightgray;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        position: relative;
        .selected-app {
            width: 90%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 0.5rem;
        }
        .drop-down-icon {
            padding: 1.5% 0;
            width: 10%;
        }
        .sub-selection {
            position: absolute;
            background-color: #FFF;
            width: 100%;
            max-height: 80vh;
            top: 2.5rem;
            z-index: 1;
            padding: 0.5rem 0;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, 
                        rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, 
                        rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
            border-radius: 10px;
            overflow-y: auto;
            p {
                font-size: 18px;
                padding: 0.2rem 0.5rem;
                &:hover {
                    background-color: $backgroundPrimaryColor;
                }
            }
            .app-separator {
                margin: 0 0.5rem;
                border: none;
                border-bottom: 1px solid $inputBorder;
            }
        }
    }
    .menu-list {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        .menu-item .menu-link, .dropdown-menu-item {
            &:hover, &:hover .dropdown {
                background-color: bisque;
            }
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 4rem;
            padding-left: 1rem;
            margin: 0.3rem 0;
            text-decoration: none;
            color: #000;
            &:visited {
                color: initial;
            }
            .menu-icon {
                height: $menu-icon-size;
            }
            .menu-label {
                margin-left: 0.8rem;
                font-weight: 700;
            }
            .dropdown-arrow {
                height: 2rem;
                margin-left: auto;
                margin-right: 0.7rem;
            }
        }
        .dropdown {
            right: 0;
            top: 3.5rem;
            background-color: aliceblue;
            width: 100%;
            display: flex;
            flex-direction: row;
            .separator {
                width: 1px;
                border: 1px solid #909090;
                margin-left: calc(1rem + $menu-icon-size/2 - 0.05rem);
            }
            .sub-menu {
                width: 100%;
                list-style: none;
                margin-left: 1.2rem;
                margin-top: 0.3rem;
            }
            .sub-menu-item {
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
                &:hover {
                    background-color: bisque;
                }
                .sub-menu-link {
                    &:visited {
                        color: initial;
                    }
                    padding: 0.45rem 0;
                    display: block;
                    line-height: 1.1rem;
                    font-weight: 700;
                    text-decoration: none;
                    width: 100%;
                    color: #000;
                }
            }
        }
        .menu-separator {
            margin: 0.2rem 1rem;
            border: none;
            border-bottom: 1px solid #9C9C9C;
        }
    }
    .end-item {
        margin-top: auto;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
        .profile {
            display: flex;
            .profile-icon {
                height: 4rem;
            }
            .info {
                margin-top: 0.3rem;
                .username {
                    font-size: 1.5rem;
                }
                .profile-link {
                    padding-right: 1rem;
                    font-weight: 700;
                    color: #000;
                    &:visited {
                        color: initial;
                    }
                }
            }
        }
    }
}

