.decoy-form {
    .left-form {
        h2 {
            margin-top: 3rem;
        }
        p {
            font-weight: 400;
            margin-top: 1rem;
            line-height: 1.6rem;
            width: 85%;
            text-align: justify;
            font-size: 1.2rem;
        }
    }
}